.food-cards {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  list-style: none;

  justify-content: center;
}

.food-item:hover {
  box-shadow: 0 0 2rem 0;
}

.food-item {
  flex-basis: 20rem;
  box-shadow: 0 0 1rem 0;
  transition: box-shadow 150ms ease;
  border-radius: 5px;
  /*-in-out 150ms;*/
  /*         propiedad-tiempo-funcion de animacion */

  cursor: pointer;
}

.page-numbers {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
}

.filters {
  gap: 2rem;
  justify-content: center;
  list-style-type: none;
}

.filter-alphabetic-order {
  list-style-type: none;
}

.filters-searchbar {
  display: flex;
}

.content {
  display: flex;
}
