.food-cards {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.food-item:hover {
  box-shadow: 0 0 2rem 0;
}

.food-item {
  flex-basis: 20rem;
  box-shadow: 0 0 1rem 0;
  transition: box-shadow 150ms ease;
  border-radius: 5px;
  background-color: #fcf0c8;
  cursor: pointer;
}

.filters {
  gap: 2rem;
  justify-content: center;
  list-style-type: none;
}

.filter-alphabetic-order {
  list-style-type: none;
}

.filters-searchbar,
.content {
  display: flex;
}

.page-numbers {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  list-style-type: none;
}

.page-numbers li {
  padding: 10px;
  border: 1px solid #efefef;
  color: #efefef;
  cursor: pointer;
  background-color: #911f27;
  border: 1px solid black;
  border-radius: 5px;
}

.page-numbers li.active,
.page-numbers li button:hover {
  background-color: #efefef;
  color: black;
}

.page-numbers li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #efefef;
  font-size: 1rem;
}

.filter-diet-type button,
.filter-alphabetic-order button,
.filter-points-order button,
.filters button {
  background-color: #efefef;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  font-size: 1rem;
  width: 100%;
}

.filter-options {
  background-color: #911f27;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  width: 100%;
}

.active-filter {
  background-color: #face7f;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  width: 100%;
}
