.form {
  width: 80%;
  padding: 16px 32px;
  display: inline-grid;
}

.input-text {
  border-radius: 5px;
}

.valid-form {
  border: 2px solid greenyellow;
  border-radius: 4px;
}

.invalid-form {
  border: 2px solid red;
  border-radius: 4px;
}
